.container {
    display: none;
    flex-direction: column;
    gap: 16px;
    padding: 10px;
    background-color: #ccc;
    width: fit-content;
}

#checkbox:checked+.container {
    display: flex;
}

label {
    font-size: 32px;
}

.container>span {
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

span:hover {
    color: wheat;
}