.container {
    width: 80%;
    /* height: 450px; */
    /* border: 2px solid black; */
    padding: 10px;
    margin-left: 120px;
}

.item-1,
.item-2,
.item-3,
.item-4 {
    width: 290px;
    /* height: 450px; */
    /* border: 2px solid red; */
    display: inline-block;
    margin-right: 10px;
}

img {
    width: 100%;
}

h3,
p {
    margin-left: 10px;
}